{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta name="author" content="SemiColonWeb" />
    <meta
      name="description"
      content="Create Shop, Store &amp; eCommerce Websites with Canvas Template. Get Canvas to build powerful websites easily with the Highly Customizable &amp; Best Selling Bootstrap Template, today."
    />

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Montserrat:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap"
      rel="stylesheet"
    />

    <!-- Core Style -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <!-- Font Icons -->
    <link rel="stylesheet" href="{% static 'css/font-icons.css' %}" />

    <!-- Plugins/Components CSS -->
    <link rel="stylesheet" href="{% static 'css/swiper.css' %}" />

    <!-- Niche Demos -->
    <link rel="stylesheet" href="{% static 'demos/shop/shop.css' %}" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
	============================================= -->
    <title>Shop Demo | Canvas</title>

    {% block extra_head %}{% endblock %}

  </head>

  <body class="stretched">
    <!-- Document Wrapper
	============================================= -->
    <div id="wrapper">
      <!-- <div class="modal-on-load" data-target="#myModal1"></div> -->

      <!-- On Load Modal -->
      <!-- <div
          class="modal1 mfp-hide subscribe-widget mx-auto"
          id="myModal1"
          style="max-width: 750px"
        >
          <div
            class="row justify-content-center bg-white align-items-center"
            style="min-height: 380px"
          >
            <div class="col-md-5 p-0">
              <div
                style="
                  background: url('static/images/modals/modal1.jpg') no-repeat center right;
                  background-size: cover;
                  min-height: 380px;
                "
              ></div>
            </div>
            <div class="col-md-7 bg-white p-4">
              <div class="heading-block border-bottom-0 mb-3">
                <h3 class="font-secondary text-transform-none">
                  Join Our Newsletter &amp; Get
                  <span class="text-danger">40%</span> Off your First Order
                </h3>
                <span>Get Latest Fashion Updates &amp; Offers</span>
              </div>
              <div class="widget-subscribe-form-result"></div>
              <form
                class="widget-subscribe-form2 mb-2"
                action="include/subscribe.php"
                method="post"
              >
                <input
                  type="email"
                  id="widget-subscribe-form2-email"
                  name="widget-subscribe-form-email"
                  class="form-control required email"
                  placeholder="Enter your Email Address.."
                />
                <div class="d-flex justify-content-between align-items-center mt-1">
                  <button
                    class="button button-dark bg-dark text-white ms-0"
                    type="submit"
                  >
                    Subscribe
                  </button>
                  <a
                    href="#"
                    class="btn-link"
                    onClick="jQuery.magnificPopup.close();return false;"
                    >Don't Show me</a
                  >
                </div>
              </form>
              <small class="mb-0 fst-italic text-black-50"
                >*We also hate Spam &amp; Junk Emails.</small
              >
            </div>
          </div>
        </div> -->

      <!-- Login Modal -->
      <div class="modal1 mfp-hide" id="modal-register">
        <div class="card mx-auto" style="max-width: 540px">
          <div class="card-header py-3 bg-transparent text-center">
            <h3 class="mb-0 fw-normal">Hello, Welcome Back</h3>
          </div>
          <div class="card-body mx-auto py-5" style="max-width: 70%">
            <a
              href="#"
              class="button button-large w-100 bg-facebook text-transform-none fw-normal ls-0 text-center m-0"
              ><i class="fa-brands fa-facebook-f"></i> Log in with Facebook</a
            >

            <div class="divider divider-center">
              <span class="position-relative" style="top: -2px">OR</span>
            </div>

            <form
              id="login-form"
              name="login-form"
              class="mb-0 row"
              action="#"
              method="post"
            >
              <div class="col-12">
                <input
                  type="text"
                  id="login-form-username"
                  name="login-form-username"
                  value=""
                  class="form-control not-dark"
                  placeholder="Username"
                />
              </div>

              <div class="col-12 mt-4">
                <input
                  type="password"
                  id="login-form-password"
                  name="login-form-password"
                  value=""
                  class="form-control not-dark"
                  placeholder="Password"
                />
              </div>

              <div class="col-12 text-end">
                <a href="#" class="text-dark fw-light mt-2">Forgot Password?</a>
              </div>

              <div class="col-12 mt-4">
                <button
                  class="button w-100 m-0"
                  id="login-form-submit"
                  name="login-form-submit"
                  value="login"
                >
                  Login
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer py-4 text-center">
            <p class="mb-0">
              Don't have an account? <a href="#"><u>Sign up</u></a>
            </p>
          </div>
        </div>
      </div>

      <!-- Top Bar
              ============================================= -->
      <div id="top-bar" class="dark" style="background-color: #a3a5a7">
        <div class="container">
          <div class="row justify-content-between align-items-center">
            <div class="col-12 col-lg-auto">
              <p
                class="mb-0 d-flex justify-content-center justify-content-lg-start py-3 py-lg-0"
              >
                <strong
                  >Free U.S. Shipping on Order above $99. Easy Returns.</strong
                >
              </p>
            </div>

            <div class="col-12 col-lg-auto d-none d-lg-flex">
              <!-- Top Links
                              ============================================= -->
              <div class="top-links">
                <ul class="top-links-container">
                  <li class="top-links-item"><a href="#">About</a></li>
                  <li class="top-links-item"><a href="#">FAQS</a></li>
                  <li class="top-links-item"><a href="#">Blogs</a></li>
                  <li class="top-links-item">
                    <a href="#">EN</a>
                    <ul class="top-links-sub-menu">
                      <li class="top-links-item">
                        <a href="#"
                          ><img
                            src="{% static 'images/icons/flags/french.png"
                            alt="French"
                          />
                          FR</a
                        >
                      </li>
                      <li class="top-links-item">
                        <a href="#"
                          ><img
                            src="{% static 'images/icons/flags/italian.png"
                            alt="Italian"
                          />
                          IT</a
                        >
                      </li>
                      <li class="top-links-item">
                        <a href="#"
                          ><img
                            src="{% static 'images/icons/flags/german.png"
                            alt="German"
                          />
                          DE</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!-- .top-links end -->

              <!-- Top Social
                              ============================================= -->
              <ul id="top-social">
                <li>
                  <a href="#" class="h-bg-facebook"
                    ><span class="ts-icon"
                      ><i class="fa-brands fa-facebook-f"></i></span
                    ><span class="ts-text">Facebook</span></a
                  >
                </li>
                <li>
                  <a href="#" class="h-bg-instagram"
                    ><span class="ts-icon"
                      ><i class="fa-brands fa-instagram"></i></span
                    ><span class="ts-text">Instagram</span></a
                  >
                </li>
                <li>
                  <a href="tel:+1.11.85412542" class="h-bg-call"
                    ><span class="ts-icon"
                      ><i class="fa-solid fa-phone"></i></span
                    ><span class="ts-text">+1.11.85412542</span></a
                  >
                </li>
                <li>
                  <a href="mailto:info@canvas.com" class="h-bg-email3"
                    ><span class="ts-icon"
                      ><i class="bi-envelope-fill"></i></span
                    ><span class="ts-text">info@canvas.com</span></a
                  >
                </li>
              </ul>
              <!-- #top-social end -->
            </div>
          </div>
        </div>
      </div>

      <!-- Header
              ============================================= -->
      {% include "layout/navbar.html" %}
      <!-- #header end -->

      {% block content %} {% endblock %}

      <!-- Footer
		============================================= -->
      <footer id="footer" class="bg-transparent border-0">
        <div class="container">
          <!-- Footer Widgets
                        ============================================= -->
          <div class="footer-widgets-wrap pb-3 border-bottom">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-6">
                <div class="widget">
                  <h4 class="ls-0 mb-3 text-transform-none">Features</h4>

                  <ul class="list-unstyled iconlist ms-0">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Paid with Moblie</a></li>
                    <li><a href="#">Status</a></li>
                    <li><a href="#">Changelog</a></li>
                    <li><a href="#">Contact Support</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-6">
                <div class="widget">
                  <h4 class="ls-0 mb-3 text-transform-none">Support</h4>

                  <ul class="list-unstyled iconlist ms-0">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-6">
                <div class="widget">
                  <h4 class="ls-0 mb-3 text-transform-none">Trending</h4>

                  <ul class="list-unstyled iconlist ms-0">
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Forums</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-6">
                <div class="widget">
                  <h4 class="ls-0 mb-3 text-transform-none">Get to Know us</h4>

                  <ul class="list-unstyled iconlist ms-0">
                    <li><a href="#">Corporate</a></li>
                    <li><a href="#">Agency</a></li>
                    <li><a href="#">eCommerce</a></li>
                    <li><a href="#">Personal</a></li>
                    <li><a href="#">OnePage</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-8">
                <div class="widget">
                  <h4 class="ls-0 mb-3 text-transform-none">Subscribe Now</h4>
                  <div class="widget subscribe-widget mt-2">
                    <p class="mb-4">
                      <strong>Subscribe</strong> to Our Newsletter to get
                      Important News, Amazing Offers &amp; Inside Scoops:
                    </p>
                    <div class="widget-subscribe-form-result"></div>
                    <form
                      id="widget-subscribe-form"
                      action="include/subscribe.php"
                      method="post"
                      class="mt-1 mb-0 d-flex"
                    >
                      <input
                        type="email"
                        id="widget-subscribe-form-email"
                        name="widget-subscribe-form-email"
                        class="form-control form-control required email rounded-0"
                        placeholder="Enter your Email Address"
                      />

                      <button
                        class="button text-transform-none fw-normal ms-1 my-0"
                        type="submit"
                      >
                        Subscribe Now
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .footer-widgets-wrap end -->
        </div>

        <!-- Copyrights
                    ============================================= -->
        <div id="copyrights" class="bg-transparent">
          <div class="container">
            <div class="row justify-content-between align-items-center">
              <div class="col-md-6">
                Copyrights &copy; 2023 All Rights Reserved by Canvas Inc.<br />
                <div class="copyright-links">
                  <a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a>
                </div>
              </div>

              <div
                class="col-md-6 d-md-flex flex-md-column align-items-md-end mt-4 mt-md-0"
              >
                <div class="copyrights-menu copyright-links">
                  <a href="#">About</a>/<a href="#">Features</a>/<a href="#"
                    >FAQs</a
                  >/<a href="#">Contact</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #copyrights end -->
      </footer>
      <!-- #footer end -->
    </div>
    <!-- #wrapper end -->

    <!-- Go To Top
	============================================= -->
    <div id="gotoTop" class="bi-arrow-up"></div>

    <!-- JavaScripts
	============================================= -->
    <script src="{% static 'js/plugins.min.js' %}"></script>
    <script src="{% static 'js/functions.bundle.js' %}"></script>
  </body>
</html>
