{% load static %}
<header id="header" class="full-header header-size-md">
  <div id="header-wrap">
    <div class="container">
      <div class="header-row justify-content-lg-between">
        <!-- Logo
                          ============================================= -->
        <div id="logo" class="me-lg-4">
          <a href="{% url "home" %}">
            <img
              class="logo-default"
              srcset="{% static '/demos/shop/images/logo.png' %}"
              src="{% static '/demos/shop/images/logo.png' %}"
              alt="Canvas Logo"
            />
          </a>
        </div>
        <!-- #logo end -->

        <div class="header-misc">

          <!-- Top Search
                              ============================================= -->
          <div id="top-search" class="header-misc-icon">
            <a href="#" id="top-search-trigger"
              ><i class="uil uil-search"></i><i class="bi-x-lg"></i
            ></a>
          </div>
          <!-- #top-search end -->
          <!-- Top Search
                              ============================================= -->
          {% if request.user.is_authenticated %} 
          <!-- Top Cart
                              ============================================= -->
        <div id="top-carts" class="header-misc-icon d-none d-sm-block">
            <a href="{% url "cart_detail" %}">
                <i class="uil uil-shopping-bag"></i>
                <span class="top-cart-number">{{ cart_count }}</span>
            </a>
        </div>
        <!-- #top-cart end -->
                   <!-- Top Cart
                              ============================================= -->
        <div id="top-cart" class="d-none d-sm-block">
            <a href="#" id="top-cart-trigger">
                <i class="bi-person me-1 position-relative" style="top: 1px"></i>
                <span class="d-none d-sm-inline-block font-primary fw-medium">{{ request.user.username }}</span>
            </a>
            <div class="top-cart-content">
                <div class="top-cart-items">
                    <div class="top-cart-item">
                        <a href="{% url "account_logout" %}">
                            <i class="i-style rounded-circle i-light bi-lightning-fill"></i>
                            <span class="d-none d-sm-inline-block font-primary fw-medium">Logout</span>
                        </a>
                    </div>
                </div>
            </div>
          </div>
        <!-- #top-cart end -->

          {% else %}
          <div id="top-accounts">
            <a href="{% url "account_login" %}"
              ><i class="bi-person me-1 position-relative" style="top: 1px"></i
              ><span class="d-none d-sm-inline-block font-primary fw-medium"
                >Login</span
              ></a
            >
          </div>
          {% endif %}

          <!-- #top-search end -->

        </div>

        <div class="primary-menu-trigger">
          <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
            <span class="cnvs-hamburger-box"
              ><span class="cnvs-hamburger-inner"></span
            ></span>
          </button>
        </div>

        <!-- Primary Navigation
                          ============================================= -->
        <nav class="primary-menu with-arrows me-lg-auto">
          <ul class="menu-container">
            <li class="menu-item current">
              <a class="menu-link" href="{% url "home" %}"><div>Home</div></a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="{% url "shop" %}"><div>Shop</div></a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#"><div>Blog</div></a>
            </li>
            <li class="menu-item">
              <a class="menu-link" href="#"><div>Sales</div></a>
            </li>
          </ul>
        </nav>
        <!-- #primary-menu end -->

        <form class="top-search-form" action="search.html" method="get">
          <input
            type="text"
            name="q"
            class="form-control"
            value=""
            placeholder="Type &amp; Hit Enter.."
            autocomplete="off"
          />
        </form>
      </div>
    </div>
  </div>
  <div class="header-wrap-clone"></div>
</header>
